.carrousel_container{
    width: 100%;
    position: relative;
    transition: all 1.5s ease-in;
}

.carrousel_container *{
    min-width: 100%;
    height: 100%;
    position: relative;
}

svg{
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 47%;
    z-index: 9999;

    &#left{
        left: 20px;
    }

    &#right{
        right: 20px;
    }
}

@keyframes hola {
    0%{
        clip-path: polygon(100% 0, 50% 51%, 0 100%, 50% 51%);
    }

    10%{
        clip-path: polygon(100% 0, 50% 51%, 0 100%, 50% 51%);
    }

    50%{
        clip-path: polygon(100% 0, 50% 51%, 0 100%, 100% 100%);
    }

    100%{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}

@keyframes chau {
    0%{
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }

    50%{
        clip-path: polygon(100% 0, 49% 50%, 0 100%, 0 0);
    }

    100%{
        clip-path: polygon(100% 0, 50% 51%, 0 100%, 50% 51%);
    }
}