<div class="contact__container">
    <div class="contact__card">
        <div class="contact_info">
            <p><i class="fa-solid fa-phone"></i> +54 9 3492 621665 <a href="https://api.whatsapp.com/qr/WAZPJ6HO7RK5A1?autoload=1&app_absent=0">(click)</a></p>
            <p><i class="fa-solid fa-envelope"></i> oviedofederico039@gmail.com </p>
            <p><i class="fa-brands fa-linkedin"></i> Federico Oviedo <a href="https://www.linkedin.com/in/federico-oviedo-98663221a/">(click)</a></p>
            <p><i class="fa-brands fa-github"></i> oviedoF <a href="https://github.com/OviedoF">(click)</a></p>
        </div>
    
        <app-contact-form id="contact__form__container"></app-contact-form>
    </div>
</div>
